{
  "presets": ["es2015"],
  "plugins": ["transform-decorators-legacy", "transform-object-rest-spread", "add-module-exports"],
  "env": {
    "test": {
      "plugins": [
        "__coverage__",
      ]
    }
  }
}
