{
  "extends": "airbnb/base",
  "rules": {
    "no-unused-expressions": 0
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
    }
  },
}
